/* home/css/dashboard.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #586beb, #cf2ddd),
                radial-gradient(circle at 50% 50%, #921383 20%, #0f31da 80%);
    text-align: center;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #000;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #3498db;
}

.card p {
    color: #555;
}

.user-profile-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.user-profile-icon img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    width: 200px;
    background-color: #333;
    padding-top: 20px;
    transition: 0.3s;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}
